body{
    
    font-family: Helvetica "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:rgba(242,242,242,1);
}
h1,h2,h3,h4,h5{
     
}
.content-inner h2 {
    margin-top:10px;
}
p {
    margin:0px; 
    margin-top:8px;
    margin-bottom:8px;
}
.valence{
    background-color: rgba(242,242,242,1);
    display: block;
    height: 70px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
header{
    margin: 30px auto 0px auto;
    font-size:16px; 
    width:980px;
}
.navigator ul {
    color: rgba(128,128,128,1);
    font-weight: 100;
    line-height: 180%;
    list-style-type: none;
    margin: 0;
 	padding-left:0px;
    -webkit-padding-start: 0;
    border-bottom: 1px solid rgba(233,233,233,1);
    padding-bottom:20px;
}
.navigator ul li ul {
    border-bottom: none;
}
.navigator li {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 120%;
    list-style-type: none;
    margin: 0;
    cursor: pointer;
}
 
.navigator{
    background-color: rgba(249,249,249,1);
    border-top: 1px solid rgba(233,233,233,1);
    border-left: 1px solid rgba(233,233,233,1);
    border-right: 1px solid rgba(233,233,233,1);
    bottom: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.07);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 70px;
    width: 230px;
}
.navigator a {
    color:#000;
}
.navigator ul li ul {
    margin-left: 30px;
    padding-bottom:inherit;
    padding-left: 0px;
}
.navigator .nav-part {
  
    text-decoration: none;
    text-decoration: none;
    margin: 20px;
    font-weight: normal;

    
}
.navigator h5 {
    font-size:1.25em;
}
.navigator ul.active-section {
    background-color:#fff;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px solid rgba(233,233,233,1);
}
.nav-header a{
   font-weight: normal;
    font-size: 1.2em;
}
.navigator a:hover{
    text-decoration: none;
	color: blue;
}
.nav-item, .nav-sub-item  {
    padding-left:12px;
    font-size:1.0em;
    margin: 20px;
    margin-bottom:8px;
    margin-top:10px;
}
 
.nav-item a {
    text-decoration: none;
    color:#5e5e5e; 
}
.nav-item a:hover{
    text-decoration:none;
}
.nav-sub-item { 
    font-size: .95em;  
    padding-left:0px;
} 
.nav-sub-item a {
 
}

#wrapper{
    background-color: rgba(242,242,242,1);
    margin: 0 auto;
    width: 980px;
}
.content{
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(233,233,233,1);
    border-top: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.07);
    display: block;
    margin-left: 246px;
    min-height: calc(100% - 173px);
    min-height: -moz-calc(100% - 173px);
    min-height: -webkit-calc(100% - 173px);
    min-height: -o-calc(100% - 173px);
    position: absolute;
    overflow: auto;
    padding-bottom: 100px;
    top: 70px;
    -webkit-overflow-scrolling: touch;
    width: 734px;
    
    
}
.content-inner{
    margin:20px;
    
}
.content-inner p.single{
	text-align:center;
	
}
.content-inner p.single img {
    max-width:580px;
    
    
}
.content-inner p.double img{
    max-width:340px;
    float:left;
    
}
.active-link {
    
    font-weight:bold;
}
.anchor{
    visibility:hidden;
    position:relative;
    top:-80px;
    
}
.field-note{ 
    font-size:14px;
    padding-bottom:10px;

}
tr { font-size:14px;}
tr th:first-child, tr td:first-child { width:120px;}
tr:nth-child(even) {background: #f0f0f0}
tr:nth-child(odd) {background: #FFF}
th,td { padding-top:4px; padding-bottom:4px; padding-left:10px; vertical-align:top}
th { border-bottom: 1px solid gray;}
ul  { list-style:disc}